# Игнор файлов сборки
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/Plugins/*/Android/libs/
Assets/Plugins/*/Android/libs.meta
Assets/Plugins/*/Android/res/
Assets/Plugins/*/Android/res.meta

